.hero {
    color: #fff;
    background-image: url('../images/article-image-hero.png');
    object-fit: cover;
    height: 75%;
    /* background-color: tomato; */
    /* font-family: "Source Code Pro", serif;; */
    /* width: 900%;
    height: 75%; */
}

.hero-inner {
    padding: 5em 0.5em 0.5em 2em;
}

.hero-inner small {
    font-size: 0.75rem;
}

.hero-inner-title {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.2em;
    width: 82%;
}

.hero-inner p {
    font-size: 1rem;
    margin-top: 0;
}

.article small {
    /* margin-top: 1em; */
    /* margin-top: 1em; */
    font-size: 0.75rem;
}

.article img {
    display: block;
    width: 100%;
    margin-bottom: 0.9em;
}

.article h2 {
    margin-top: 0.5625em;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Source Sans Pro";
}

/* .article p {
    width: ;
} */

.view-more {
    font-weight: 700;
    font-family: "Source Sans Pro Bold";
    /* text-align: center; */
    text-decoration: underline;
    margin: 0 auto;
    cursor: pointer;
}


@media (min-width: 767px) {
    .hero h1 {
        width: 490px;
    }

    .hero p {
        width: 430px;
    }
}

@media (min-width: 1024px) {
    .hero h1 {
        width: 55%;
    }

    .hero p {
        width: 55%;
    }
}


