.hero {
    color: #fff;
    background-image: url('../images/article-image-hero.png');
    background-size: cover;
    height: 100%;
}

.hero-inner {
    padding: 5em 0.5em 0.5em 2em;
}

.hero-inner small {
    font-size: 0.75rem;
}

.hero-inner-title {
    font-weight: 700;
    font-family: "Source Sans Pro Bold";
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.2em;
    width: 82%;
    color: white;
}

.hero-inner p {
    font-size: 1rem;
    margin-top: 0;
    width: 82%;
    font-family: "Source Sans Pro Light";
}

.view-more {
    font-weight: 700;
    font-family: "Source Sans Pro Bold";
    text-decoration: underline;
    margin: 0 auto;
    cursor: pointer;
}


@media (min-width: 767px) {
    .hero p {
        width: 430px;
    }
}

@media (min-width: 1024px) {
    .hero p {
        width: 55%;
    }
}

@media (min-width: 1279px) {
    header {
        height: 10vh;
    }

    .site-name {
        font-size: 1.25rem;
    }

    .hero {
        height: 67vh;
    }

    .hero-inner {
        padding: 21em 0.5em 0.5em 3em;
    }

    .hero-inner small {
        font-size: 1rem;
    }

    .hero-inner-title { 
        font-size: 2.5rem;
        width: 57%;
    }

    .hero p {
        width: 49%;
        font-size: 1rem;
    }
}


