small {
    font-weight: 400;
    font-size: 0.75rem;
}

@media (min-width: 1279px) {
    .wrapper {
        width: 95vw; 
    }

    .journey-title, .journey-body h2 {
        font-family: "Source Sans Pro Bold";
        font-size: 2.25rem;
        margin-bottom: 0.4em;
    }

    .journey-body {
        width: 85vw;
        margin: auto;
    }

    .journey-p {
        font-size: 1rem;
        width: 100%;
        margin-top: 0;
    }

    .journey-body p {
        font-size: 1.3rem;
        width: 90%;
    }

    .img-wrapper {
        height: 530px;
        overflow: hidden;
    }

    .feature-img {
        display: block;
        margin: auto;
        width: 93vw;
        height: auto;
        object-fit: cover;
        object-position: top;
    }

    .recent-posts {
        font-size: 1.5rem;
    }

    .grid-wrapper {
        grid-template-rows: 1fr;
    }

    .view-more {
        font-family: "Source Sans Pro Bold";
        text-align: center;
        display: block;
    }
}
