@font-face {
    font-family: "Source Sans Pro";
    src: url('../SourceSansPro-Regular.otf');
}

@font-face {
    font-family: "Source Sans Pro Bold";
    src: url('../SourceSansPro-Bold.otf');
}

@font-face {
    font-family: "Source Sans Pro Light";
    src: url('../SourceSansPro-Light.otf');
}

@font-face {
    font-family: "Source Sans Pro Semibold";
    src: url('../SourceSansPro-Semibold.otf');
}

body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro";
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #090909;
}

.logo-sitename, header, ul {
    display: flex;
    align-items: center;
}

header {
    justify-content: space-between;
    margin: 0 2em;
}

.logo-sitename {
    gap: .3em;
}

.logo {
    align-self: center;
    width: 23px;
    height: 23px;
}

.site-name {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-size: 0.875rem;
    color: #0E0E0E;
}

ul {
    list-style: none;
}

ul li {
    font-size: 0.75rem;
    font-weight: 600;
    font-family: "Source Sans Pro Semibold";
    padding-left: 1.3em;
}

.wrapper, .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.875em 1.25em;
}

.wrapper, .grid-wrapper h1 {
    font-weight: 700;
    font-family: "Source Sans Pro Bold";
    width: 65%;
    font-size: 2rem;
    margin: 0.8rem 0;
}

.wrapper, .grid-wrapper p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Source Sans Pro Light";
    margin-top: 0;
    color: #151515;
}

.article small {
    font-size: 0.75rem;
}

.article img {
    display: block;
    width: 100%;
    margin-bottom: 0.9em;
    border-radius: 3px;
}

.article h2 {
    margin-top: 0.5625em;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Source Sans Pro Bold";
}

.blog-details h2 {
    font-family: "Source Sans Pro Bold";
    font-size: 1rem;
}

.recent-posts {
    text-align: center;
    font-size: 1rem;
    font-family: "Source Sans Pro Bold";
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Source Sans Pro";
    color: white;
    background-color: #202020;
    height: 105px;
}

.website-name {
    font-weight: 700;
    font-family: "Source Sans Pro";
    font-size: 1rem;
    margin-top: 0.8em;
    margin-bottom: 0.3em;
}

.copyright {
    font-weight: 400;
    font-family: "Source Sans Pro";
    font-size: 0.9rem;
    margin: 0;
}

footer a {
    text-decoration: none;
    color: violet;
    cursor: pointer;
}

.view-more {
    font-family: "Source Sans Pro Bold";
    text-align: center;
    display: block;
}

@media (min-width: 1279px) {
    header {
        height: 12vh;
    }

    .site-name {
        font-size: 1.25rem;
    }

    ul li {
        font-size: 1rem;
    }

    .grid-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: dense;
        gap: 1.625em;
    }
}    